.cart {
    display: flex;
    flex-direction: column;
    
    max-height: 55rem;
    
}

.cart__subtotal {
    flex: 1;
    background-color: rgba(220, 220, 220, 0.627);
    border-radius: .5rem;
    padding: 1rem;
}

.cart__empty {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-size: 1.6rem;
    color: var(--main-accent);
}

.cart__empty > .material-symbols-outlined {
    font-size: 10rem;
    filter: drop-shadow(0 0 .5rem var(--main-light-accent));
}

.cart__empty--message {
    text-shadow: 0 0 .5rem var(--main-light-accent);
}



.cart__items {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
    overflow-y: scroll;
}

.cart__item {
    display: flex;
    flex-direction: row;

    height: 12rem;
    padding: 1rem;

    font-family: var(--text-regular);
    border-bottom: 1px solid rgb(173, 173, 173);
}

.cart__item:last-of-type {
    /* border-bottom: 1px solid black; */
    margin-bottom: none;
}

.cart__item-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item__img {
    flex: 1;

    max-width: 16rem;
}

.item__detail {
    display: flex;
    flex-direction: column;
    flex: 2 ;
    padding: 1rem 1rem 0 1rem;
    height: 100%;
    justify-content: space-between;
}

.item__title {
    text-decoration: none;
    text-transform: capitalize;
}

.item__title a {
    text-decoration: none;
    font-family: var(--text-light);
    color: black;

}

.item__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.item__specs {
    display: flex;
    flex-direction: column;
}

.cart__item-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.cart__btn {
    padding: .5rem;
    border-radius: 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--text-regular);
    box-shadow: none;
    background-color: transparent;
    transition: var(--transition);

}

.cart__btn:hover {
    cursor: pointer;
    box-shadow: none;
    font-family: var(--text-bold);
    transition: var(--transition);
}

.cart__btn::selection {
    transform: none;
}

.cart__btn.cart__btn--delete {
    color: red;
}

.cart__btn.cart__btn--edit {
    margin-right: 1rem;
    color: var(--main-black);
}



.item__total {
    font-family: var(--text-bold);
    font-size: 1.6rem;
    height: 100%;
    display: flex;
    align-items: center;
}



.subtotal {
    font-family: var(--text-bold);
    font-size: 1.8rem;
    width: 100%;
    height: 10rem;
    text-align: end;
    padding: 1rem;
}

.subtotal__amount {
    padding: 1rem 0;

}

.subtotal__checkout-btn {
    letter-spacing: 1.1px;
    background-color: var(--main-accent);
    color: white;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1.4rem;
    transition: var(--transition);

}

.subtotal__checkout-btn:hover {
    cursor: pointer;
    background-color: var(--main-light-accent);
    transition: var(--transition);
}

@media screen and (min-width: 35rem) {
    .cart {
        flex-direction: row;
        height: 100%;
    }

    .cart__subtotal {
        order: 2;
    }

    .cart__empty {
        flex: 2 0;
    }

    .cart__items {
        flex: 2;
        order: 1;

        height: 100%;
        overflow-y: scroll;
    }

    .cart__item:first-of-type {
        margin-top: 0;
    }
}