.products__container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* min-width: 30rem; */
    max-width: 80rem;
    justify-items: center;
    grid-gap: 2rem;
    padding: 1rem;
}

.products__similar {
    display: flex;
    
    flex-direction: row;
    overflow: scroll;

}

.product__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all ease 300ms;
    font-family: 'Barlow-Light';
}

.product__item.similar {
    margin: 0 1rem;
}

.product__item:hover {
    box-shadow: 0 0 .25rem rgb(84, 84, 84);
    transition: all ease 500ms;
}



.product__item:hover .product__img {
    transition: all ease 300ms;
}

.product__item:hover .product__details {
    /* border: 1px solid lightgray; */
    transition: all ease 300ms;

}



.product__link {
    position: relative;
    /* flex: 3 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border: 2px solid black; */
    /* max-height: 100%; */
    /* max-width: 100%; */
    padding: 1rem;
    /* border-radius: 1rem; */
    /* overflow: hidden; */
    background-color: rgb(220, 220, 220);
}


.product__link:hover .product__img {
    /* padding: 0; */
}

.product__owner--label {
    align-self: center;
    display: flex;
}

.product__link:hover ~ .product__owner--label {
    display: flex;
}

.product__img {
    /* display: flex; */
    object-fit: contain;
    width: 100%;
    /* padding: 10%; */
    justify-self: center;
    cursor: pointer;
    /* border: 3px solid rgb(97, 97, 97); */
    /* transform: scale(.99); */
    box-shadow: inset 0 0 1rem gray;
    transition: all ease 300ms;
}

.products__details {
    /* flex: 1 0; */
    border: 1px solid transparent;
    padding: 0 1rem 1rem 1rem;
    
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */

    /* background-color: white; */
    border-radius: .5rem;

    font-family: 'Barlow-Regular';
    text-transform: capitalize;
    text-align: center;
    /* box-shadow: 0 0 .25rem gray; */
}

.product__title {
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0;
    margin-top: 1rem;
    max-height: 2rem;
    overflow: hidden;
}

/* .product__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
} */

/* .product__size {
    height: 100%;
    display: flex;

    
    flex: 1;
    font-size: 1.6rem;
} */

/* .product__price {

    flex: 1;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 1.4rem;
} */

.product__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    /* height: 5rem; */
}


.product__actions--btn {
    width: 100%;
    display: flex;
    justify-content: center;    
    align-self: center;
    text-decoration: none;
    /* margin-top: 1rem; */
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    transition: all ease 300ms;
    background-color: none;
    background-color: lightgray;

    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: .25rem;

}

.product__view {
    
}

.product__addToCart {
    /* background-color: inherit; */
}

.product__addToCart--icon {
    transform: scale(1.1);
    transition: all ease 300ms;

}

/* .product__addToCart:hover .product__addToCart--icon {
    transform: scale(1.25);
    transition: all ease 300ms;
} */

/* .product__actions--btn:hover {
    cursor: pointer;
    background-color: rgb(237, 179, 255);
    transition: all ease 300ms;
} */

@media screen and (min-width: 30rem) {
    .products__container {
        grid-template-columns: repeat(3, 1fr);
    }

    /* .product__img {
        padding: 1.4rem;
    } */
}

@media screen and (min-width: 40rem) {
    .products__container {
        grid-template-columns: repeat(4, 1fr);
    }

    /* .product__img {
        padding: 2rem;
    } */
    
}
