.products__container {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 35rem; */
    grid-auto-rows: 35rem;
    width: 100%;
    /* min-width: 30rem; */
    max-width: 100rem;
    /* align-self: center; */
    justify-items: center;
    
    grid-gap: 1rem;
    padding: 1rem;
}

.products__similar {
    display: flex;
    
    flex-direction: row;
    overflow: scroll;

}

.product__link {
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* justify-self: center; */
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;

    
    transition: all ease 300ms;
    font-family: var(--text-light);
    /* box-shadow: 0 0 .25rem transparent; */
    border: 2px solid transparent;
    overflow: hidden;
    flex: 0;
    border-radius: 1rem;
    background-color: rgb(240, 240, 240);
    text-decoration: none;
    color: black;

}

.product__link.similar {
    margin: 0 1rem;
}

.product__link:hover {
    border: 2px solid #0095a6;
    /* box-shadow: 0 0 .25rem rgb(84, 84, 84); */
    transition: all ease 500ms;
    border-radius: 1rem;
}



.product__link:hover .img__product {
    transition: all ease 300ms;
}

.product__link:hover .product__details {
    /* border: 1px solid lightgray; */
    transition: all ease 300ms;

}



.product__item {
    position: relative;
    /* flex: 0; */
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 2 0 20rem; */
    /* max-height: 100%; */
    /* padding: 1rem; */
    /* width: 100%; */
    min-width: 0;
    min-height: 0;
    border: 1px solid transparent;
    border-radius: 1rem;
    /* object-fit: contain; */
    /* overflow: hidden; */
}


.product__item:hover .img__product {
    /* padding: 0; */
}

.product__owner--label {
    align-self: center;
    display: flex;
}

.product__item:hover ~ .product__owner--label {
    display: flex;
}



.products__details {
    grid-template-rows: 2 / 3;
    /* flex: 0; */
    border: 1px solid transparent;
    padding: 0 1rem 1rem 1rem;
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */

    /* background-color: white; */
    border-radius: .5rem;
    /* border: 1px solid green; */

    font-family: var(--text-regular);
    text-transform: capitalize;
    text-align: center;
    /* box-shadow: 0 0 .25rem gray; */
}

.product__title {
    font-family: var(--text-bold);
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0;
    margin-top: 1rem;
    max-height: 2rem;
    overflow: hidden;
}

.product__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product__size {
    font-size: 1.4rem;
}

.product__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    /* height: 5rem; */
}


.product__actions--btn {
    width: 100%;
    display: flex;
    justify-content: center;    
    align-self: center;
    text-decoration: none;
    /* margin-top: 1rem; */
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    transition: all ease 300ms;
    background-color: none;
    background-color: lightgray;

    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: .25rem;

}

.product__addToCart--icon {
    transform: scale(1.1);
    transition: all ease 300ms;
}




/* @media screen and (min-width: 20rem) {
    .products__container {
        grid-template-columns: repeat(2, 1fr);
    }
} */

@media screen and (min-width: 30rem) {
    .products__container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
}

@media screen and (min-width: 40rem) {
    .products__container {
        grid-template-columns: repeat(3, 1fr);
    }
}
