.modal {
    position: absolute;
    z-index: 9999;
    top: 0%;
    left: 0%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
  
    background-color: rgba(0, 0, 0, .75);

    overflow: auto;
}

.modal__img-container {
    max-height: 90%;
    max-width: 90%;
}

.modal__img-container.portrait {

}

.modal__image-container.landscape {
    width: 0;
    padding: 3rem;
   
}

.modal__close {
    position: absolute;
    z-index: 9999;
    right: 1rem;
    top: 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}



.modal__close > .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' -25,
  'opsz' 40
}

.modal__close > span {
    background-color: none;
    color: white;
    font-size: 5rem;
    /* transform: scale(1.5); */


}

.material-symbols-outlined:hover {
    cursor: pointer;
    /* color: #0095a6; */
}



@media screen and (min-width: 25rem) {
    .modal__img-container.portrait {
        max-width: 40rem;
    }
}

@media screen and (min-width: 35rem) {
    .modal__img-container.portrait {
        max-width: 40rem;
    }
}

@media screen and (min-width: 45rem) {
    .modal__img-container.portrait {
        max-width: 45rem;
    }
}