.product-page {
    margin: 1rem auto 0 auto;
    /* max-width: 40rem; */
    justify-items: center;
    display: flex;
    justify-content: center;
}

.product-page__header {
    justify-self: flex-start;
}

.products-page__product {
    display: grid;
    grid-template-columns: 1fr;

    justify-items: stretch;
    background-color: #d9e8ea;
    padding: 1rem 2rem 2rem 2rem;
    /* padding: 2rem; */
    border-radius: 1rem;
    overflow: hidden;
}

.products-page__product.landscape {
    max-width: none;
    min-width: 100%;
}

.products-page__product.portrait {
    max-width: 40rem;
}

.product__image {
    min-height: auto;

    width: 100%;
    grid-row: 1 / 2;
    align-self: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.product__details {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-self: end;

    background-color: #f6f6f6;
    padding: 1rem;
    border-radius: 1rem;
}

.product__owner {
    flex: 2;

    display: block;
    flex-direction: row;

    font-size: 1.4rem;
    font-family: 'Barlow-Light';
    color: black;
}

.product__owner--links {
    text-decoration: none;
    color: black;
    flex-wrap: nowrap;
}

.product__owner--links:hover {
    color: rgb(200, 0, 133);
}

.product__description {
    flex: 1;
    font-family: 'Barlow-SemiBold';
    font-size: 2rem;
    text-transform: capitalize;
}

.product__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product__price {
    /* margin-left: 2rem; */
    padding: 0;
    font-size: 3rem;
    align-self: flex-end;
}

.product__quantity {
    display: flex;
    flex-direction: column;
    flex: 1 1 10rem;

}

.product__quantity input {
    /* padding: 1rem; */
    display: flex;
    font-size: 1.6rem;
    flex: 1;
}

.product__quantity label {
    margin: .5rem 0;
    font-family: 'Barlow-SemiBold';
    font-size: 1.4rem;
}

.product__add-to-cart--btn {
    justify-self: flex-end;

    margin: 1rem 0;
    width: 100%;
    font-family: 'Barlow-Regular';
    color: black;
    font-size: 1.6rem;
    text-transform: capitalize;
    transition: all ease 300ms;
}

.product__add-to-cart--btn:hover {
    cursor: pointer;
    background-color: rgb(0, 149, 166);
    color: white;
    transition: all ease 300ms;
}

select {
    background-color: orange;
    padding: 1rem;
    border-radius: 1rem;
}

option {
    background-color: pink;
}

@media screen and (min-width: 25em) {
    .product-page {
        padding: 2rem;

    }
}

@media screen and (min-width: 40em) {
    .product-page {
        /* max-width: none; */
        /* margin: 0 auto; */
    }

    .products-page__product.portrait {
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        padding: 2rem 2rem 2rem 0;
        min-width: 100%;
        max-height: 50rem;
        overflow: hidden;
    }

    .products-page__product.portrait {
        flex-direction: row;

    }


    .products-page__product.landscape {

        /* flex-direction: column; */
        /* border: 1px solid blue; */
        
    }

    .product__image {
        justify-self: stretch;
        align-self: stretch;
        flex: 2;

        width: 100%;
        /* height: 100%; */
    }

    /* .product__image.landscape {
        height: 100%;
    } */

    .product__details {
        /* align-self: center; */
        /* flex: 1; */
        height: 100%;

        /* border: 1px solid blue; */
    }
}


@media screen and (min-width: 45em) {
    .products-page__product.landscape {
        display: flex;
        flex-direction: row;
        /* flex: 0; */
        padding-left: 0;
    }
    
}
