.toasts__container {
    position: absolute;
    top: 5rem;
    right: 0;
    

}

.toast__item {
    position: relative;
    z-index: 9999999;
    /* top: 5rem; */
    /* right: 1rem; */
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 1rem;
    padding: 1rem;
    max-width: 90%;
    width: 100%;
    font-size: 1.4rem;
    font-family: var(--text-bold);

    box-shadow: 0 0 1rem gray;
    border-radius: .25rem;

    /* animation-name: exit;
    animation-duration: 2s;
    animation-timing-function: bounce;
    animation-iteration-count: 1; */
}

.toast__item:hover {
    cursor: pointer;
}


.toast__icon-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast__details-container {
    display: flex;
    /* flex: 2; */
    width: 100%;
    justify-self: flex-start;
    padding: 0 1rem;

}

.toast__heading {

}

.toast__message {
    
}

.position {
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
}

.icon--close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    opacity: 0.5;
    font-size: 2rem;
}

.toast__container:hover {
    cursor: pointer;
}

.success {
    border-left: 10px solid green;
    background-color: #e8ffe8;    
}

.error {
    border-left: 10px solid red;
    background-color: #ffe7e7;
}

.warning {
    border-left: 10px solid orange;
    background-color: rgb(255, 246, 228);
}

.danger {
    border-left: 10px solid red;
    background-color: rgb(255, 226, 226);
}

.info {
    border-left: 10px solid cyan;
    background-color: rgb(233, 255, 255);
}

.help {
    border-left: 10px solid purple;
    background-color: rgb(255, 231, 255);
}

/* .outline {
    background-color: var(--main-white);
    border: 3px solid blue;
} */

.hide {
    animation-name: hide;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

.hideToast {
    transform: translateX(120%);
    transition: all ease 300ms;
}

@media screen and (min-width: 30rem) {
    .toast__item {
        max-width: 30rem;
        /* width: 100%; */
    }
}

@keyframes exit {

    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
        right: 25rem;
    }
}

@keyframes hide {
    0% {
        transform: translateX(0%);
        
    }

    100% {
        transform: translateX(100%);
        display: none;
    }
}

@keyframes toast-in-right {
	from {
	  transform: translateX(100%);
	  
	}
	to {
	  transform: translateX(0);
	}
}

@keyframes toast-in-left {
	from {
		transform: translateX(-100%);
		
	}
	to {
		transform: translateX(0);
	}
}