.toasts__container {
    position: relative;
    top: 5rem;
    right: 0;
    

}

.toast__item {
    position: relative;
    z-index: 9999999;
    /* top: 5rem; */
    /* right: 1rem; */
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 1rem auto;
    /* margin: 1rem; */
    padding: 1rem;
    max-width: 30rem;

    font-size: 1.4rem;
    font-family: var(--text-bold);

    box-shadow: 0 0 1rem gray;
    border-radius: .25rem;

    /* animation-name: exit;
    animation-duration: 2s;
    animation-timing-function: bounce;
    animation-iteration-count: 1; */
}



.toast__icon-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast__details-container {
    display: flex;
    /* flex: 2; */
    width: 100%;
    justify-self: flex-start;
    border: 1px solid red;
    padding: 0 1rem;

}

.toast__heading {

}

.toast__message {
    
}

.icon--close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    opacity: 0.5;
    font-size: 2rem;
}

.toast__container:hover {
    cursor: pointer;
}

.success {
    border-left: 10px solid green;
    background-color: rgba(0, 255, 0, 0.1);    
}

.error {
    border-left: 10px solid red;
    background-color: rgba(255, 0, 0, 0.1);
}

.warning {
    border-left: 10px solid orange;
    background-color: rgba(255, 166, 0, 0.1);
}

.danger {
    border-left: 10px solid red;
    background-color: rgba(255, 0, 0, 0.1);
}

.info {
    border-left: 10px solid cyan;
    background-color: rgba(0, 255, 255, 0.1);
}

.help {
    border-left: 10px solid purple;
    background-color: rgba(128, 0, 128, 0.1);
}

/* .outline {
    background-color: var(--main-white);
    border: 3px solid blue;
} */

.hide {
    animation-name: hide;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes exit {

    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
        right: 25rem;
    }
}

@keyframes hide {
    0% {
        transform: translateX(0%);
        
    }

    100% {
        transform: translateX(100%);
        display: none;
    }
}