.reviews {
    /* padding: 1rem; */
    font-size: 1.2rem;
    letter-spacing: .05rem;
}

.reviews__heading {
    position: relative;
    font-size: 2rem;
    padding-bottom: 1rem;
    background-color: rgb(217, 232, 234);
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.reviews__heading::after {
    position: absolute;
    content: '';
    height: .25rem;
    width: 100%;
    left: 0;
    bottom: 0;
    
    background-color: navy;
}



.review__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem 0;
}

.review__item:not(:first-of-type)::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: .15rem;
    width: 100%;
    background-color: lightgray;
}

.review__header {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review__header--rating {
    display: flex;
}

.review__header--rating > .material-icons {
    margin: -.25rem;
    transform: scale(.75) ;
    color: rgb(0, 149, 166);
}

/* .review__header:last-child {
    margin-bottom: 0;
} */

.review__header--title {
    font-family: var(--text-bold);
}

.review__header--date {
    font-family: var(--text-regular);
    margin-bottom: 0;
}

.review__detail {

}

.review__detail--title {
    font-family: var(--text-bold);

}



.review__detail--text {
    font-family: var(--text-regular);
}

.review__pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}

.review__pagination .pagination__btn {
    /* margin: 0; */
    padding: .25rem 1rem;
    max-width: 3rem;
    background-color: transparent;
    box-shadow: none;
    color: var(--main-accent);
    border: none;
    transition: none;

}


.pagination__btn.isActive {
    /* font-family: var(--text-bold); */
    /* padding: 1rem; */
    background-color: var(--main-accent);
    color: var(--main-white);
    transition: none;

    
}

.review__pagination .material-symbols-rounded {
    color: var(--main-accent);
    display: flex;
    justify-self: center;
    align-self: center;
    padding: .5rem;
    border-radius: .5rem;
}

.review__pagination .material-symbols-rounded:hover {
    cursor: pointer;
    background-color: var(--main-accent);
    color: var(--main-white);

}

.review__pagination .material-symbols-rounded:active {
    /* color: magenta; */
}

.material-symbols-rounded.hideForward, .material-symbols-rounded.hideBack {
    /* display: none; */
    visibility: hidden;
}



@media screen and (min-width: 30em) {
    .review__item {
        flex-direction: row;
    }

    .review__header {
        flex: 1;
        margin-right: 1rem;
    }

    .review__detail {
        flex: 3;
    }
    
}