.img {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    /* margin: 1rem; */
    padding: 2rem;
}

.img__product {
    max-width: 100%;
    max-height: 100%;

    padding: 1rem;

    background-color: rgb(252, 252, 252);
    box-shadow: 0 0 1rem black;

    object-fit: contain;
    transition: all ease 300ms;
}

.img.product {
    /* padding: 0; */
    margin: 0;
    width: 100%;
}

.img.product.landscape {
    /* min-width: 100%; */
    /* max-height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.img__product.product {
    min-width: 100%;
    /* max-width: none; */
    /* max-height: none; */
    /* min-width: 100%; */
    /* flex: 1; */
}

.img__product.product.landscape {
    object-fit: contain;
    /* max-height: 100%; */
    /* max-width: 100%; */
}

@media screen and (min-width: 35em) {
    .img.product.landscape {
        
    }
}