.logo__link {
    text-decoration: none;

    justify-self: center;
    margin-bottom: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

}

.logo__container {
    justify-self: center;
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    align-items: center;
    /* height: 5rem; */
    /* width: 10rem; */
}

.logo__text {
    font-family: 'Barlow-SemiBold';
    position: relative;
    /* padding: 1rem 0; */
    
    font-size: 2.6rem;
    letter-spacing: .35rem;
    color:rgb(20, 20, 20);
    /* background-color: orange; */
    text-align: left;
    width: 100%;
    background: linear-gradient(45deg, rgb(170, 0, 255), rgb(0, 72, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin-bottom: -1.5rem; */
}

.logo__text--span {
    font-family: 'Barlow-Light';
    /* text-shadow: 0 0 1px magenta; */
    letter-spacing: .75rem;
    margin-top: -1.5rem;
    background: none;
    -webkit-text-fill-color: black;
    /* position: absolute; */
    /* top: 2.5rem; */
    /* left: -3rem; */
    /* display: flex; */
    /* justify-content: stretch; */
    /* width: 100%; */
    /* margin-left: 1rem; */
    /* margin-top: 2rem; */
    
    
}

.material-symbols-outlined.logo--icon {
    position: absolute;
    right: 2rem;
    top: 1rem;
    color: rgba(127, 119, 0, 0.557);
    transform: scale(1.5) ;
}

@media screen and (min-width: 30rem) {
    .logo__link {
        /* margin-left: 3rem; */
        margin-bottom: 0;
        justify-self: start;
    }

    .logo__container {
        justify-self: start;
    }
}