.products__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2rem;
    background-color: rgb(247, 247, 247);
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 1rem;
    /* box-shadow:  0 0 .2rem black; */
    /* border: 1px solid rgb(200, 200, 200); */
    /* border-radius: 1rem; */
    /* max-height: 20rem; */
    transition: all ease 300ms;
    
}

.product:hover {
    box-shadow: 0 0 1rem rgb(200, 200, 200);
    transition: all ease 300ms;
}

.product__img:hover {
    transform: scale(1.1);
}

.product__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
    /* width: 100%; */
    /* box-shadow: 0 0 1rem gray; */
    border-radius: 1rem;
}

.product__img {
    object-fit: contain;
    /* width: 100%; */
    /* height: 100%; */
    /* max-height: 30rem; */
    justify-self: center;
    /* height: 20rem; */
    padding: 1rem;
    box-shadow: 0 0 1rem gray;
    cursor: pointer;
    /* border: 1px solid gray; */
    border-radius: 1rem;

}

.product__details {
    /* border: 1px solid blue; */
    padding: 1rem;
    /* font-family: 'Raleway-Regular'; */
}

.product__title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 1.6rem;
}

.product__price {
    font-family:'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 1.6rem;
}

.product__addToCart {
    width: 100%;
    display: flex;
    justify-content: center;    
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: all ease 300ms;

}

.product__addToCart:hover {
    cursor: pointer;
    transition: all ease 300ms;

}