.tags__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 246);

    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: 1rem 0;
    padding: 1rem;
    /* overflow-x: scroll; */
}

.tags__label {
    font-size: 1rem;
    font-family: 'Barlow-Regular';
}

.tags__content {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .tags__arrow {
    font-size: 2rem;
    color: red;
    background-color: orange;
} */

.tags__arrow--left {
    /* margin: 0 .5rem; */
    /* position: absolute; */
    /* left: 0; */
}

.tags__arrow--right {

}

.tags__content {
    /* min-width: 100%; */
    display: flex;

    justify-content: center;
    border: 1px solid red;
    flex-wrap: wrap;
}

.tags__list {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    justify-content: center;
    /* overflow-x: scroll; */
    overflow: hidden;
    flex-wrap: wrap;
    padding: 1rem;
    /* scroll-snap-type: mandatory; */
    width: 100%;
    

}


.tags__link {
    padding: .25rem 1rem;

    color: black;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

.tags__link:hover {
    cursor: pointer;
    color: rgb(5, 42, 255);
    font-family: 'Barlow-SemiBold';
}

.tags__link:focus {
    color: magenta;
}