.logo__link {
    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.logo__container {
    position: relative;
    justify-self: center;
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo__text {
    font-family: var(--text-bold);
    font-size: 2.6rem;
    letter-spacing: .35rem;
    background: linear-gradient(45deg, rgb(170, 0, 255), rgb(0, 72, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo__container--top {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-left: .15rem;
}

.logo__container--bottom {
    position: relative;
}

.logo__container--bottom.logo__text {
    width: 100%;
}

.logo__text--span {
    /* width: 100%; */
    text-align: center;
    font-family: var(--text-light);
    letter-spacing: .75rem;
    margin-top: -1.25rem;
    margin-right: -.25rem;
    background: none;
    -webkit-text-fill-color: black;
}



.logo--icon {
    /* align-self: flex-start; */
    position: absolute;
    top: .75rem;
    right: 1.25rem;

    
    transform: scale(2.25, 1.75);
    /* border: 1px solid magenta; */
    padding: -1rem;
    margin: 0;

}

@media screen and (min-width: 30rem) {
    .logo__link {
        margin-bottom: 0;
        justify-self: start;
    }

    .logo__container {
        justify-self: start;
    }
}