.tabs__container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.tabs__labels {
    width: 100%;
    background-color: var(--main-light-blue);
    margin-bottom: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    overflow: hidden;
    border-bottom: 2px solid var(--main-accent); 
}

.tabs__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    background-color: var(--main-light-blue);
    font-size: 2rem;
    overflow: hidden;
}

.tab__listItem {
    height: 100%;
    width: 100%;

    padding: 1rem;
    text-align: center;
    opacity: .75;
    font-family: var(--text-regular);
}

.tab__listItem:hover {
    cursor: pointer;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.tab__listItem:hover:not(.active) {
    background-color: var(--main-lightgray);
}


.tab__listItem:first-of-type:hover {
    border-top-right-radius: 1rem;
}

.tab__listItem:last-of-type:hover {
    border-top-left-radius: 1rem;
}

.tab__listItem.active:first-of-type {
    border-top-right-radius: 1rem;

}

.tab__listItem.active:last-of-type {
    border-top-left-radius: 1rem;
}

.tab__listItem.active {
    z-index: 9999;

    color: var(--main-white);
    background-color: var(--main-accent);

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    opacity: 1;
}

.tab__content {
    height: 50rem;
    overflow-y: scroll;

    scrollbar-width: thin;
}


.tab__content::-webkit-scrollbar {
    width: .75rem;
}


.tab__content::-webkit-scrollbar-thumb {
    background-color: #cdcdcd;
}

.tab__content::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
    cursor: pointer;
}

@media screen and (min-width: 40em) {
    .tabs__list {
        width: 50%;
    }
}