.history {
    /* flex: 1; */
    position: absolute;
    z-index: 999999;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--text-bold);
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, .75);
}

.history__icons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid red;
}

.history__icons:hover {
    cursor: pointer;

}

.history__icons:hover .material-symbols-rounded {
    color: var(--main-accent);
}

.material-symbols-rounded {
    align-self: center;

}

.material-symbols-rounded.clock {
}

.material-symbols-rounded.arrow {
    position: absolute;
    top: .6rem;
    right: 6rem;
}

.history__close .material-symbols-outlined:hover {
    cursor: pointer;
}


.history__list {
    position: relative;
    top: 3rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 0 1rem black;
    padding: 1rem;
    background-color: aliceblue;
    width: 100%;
    max-width: 40rem;
    height: 100%;
    max-height: 50rem;

}

.history__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.history__items {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    padding: .5rem;
    font-size: 1.4rem;
}

.history__link {
    text-decoration: none;
    padding: .25rem 1rem;
    border-radius: .5rem;
    color: black;
}

.history__link:hover {
    background-color: var(--main-lighter-accent);
    /* color: white; */
    
}

.history.isOpen .history__list {
    display: flex;
    /* height: 100%; */
    /* background-color: green; */
}

.history__clearBtn {
    align-self: flex-end;
    justify-self: flex-end;
    background-color: transparent;
    box-shadow: none;
    margin-top: 1rem;
    padding: 0;
}

.history__clearBtn:hover {
    cursor: pointer;
    outline: none;
    box-shadow: none;
    color: rgb(193, 0, 0);
}