* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid rgba(255, 0, 0, .5); */
}

html {
    font-size: 62.5%;
    background-color: rgb(246, 246, 246);
    box-sizing: border-box;
    height: 100%;
    line-height: 1.5;
}

body {
    height: 100%;
    line-height: 1.5;
    position: relative;
}

#root {
    display: flex;
    height: 100%;
    width: 100%;
  }

.modal-open {
    overflow: hidden;
}

.app {
    
    width: 100vw;
    /* height: 100%; */
    max-width: 80rem;
    min-width: 30rem;
    margin: 0 auto;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr; */

    font-family: 'Barlow';
    overflow-y: scroll;
}

.app__header {
    position: sticky;
    top: 0;
    z-index: 1;

    /* flex: 1; */

    

    width: 100%;
    padding: 0 1rem 1rem 1rem;
    background-color: rgb(246, 246, 246);
    
}

.header {
    display: grid;
    grid-template-columns: 1fr;

    align-items: center;
}

/* .app__header--logo {
    flex: 2;
    padding: 1rem 0;
    font-size: 2rem;
    color:rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
} */

.header__actions {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.header__history {
    margin: 0 1rem;

}

.header__history > .material-symbols-rounded:hover {
    cursor: pointer;
    color: var(--main-accent);
}

.header__history > .material-symbols-rounded {
    color: black;
}

.header__cart {
    position: relative;
    justify-self: flex-end;
    margin-left: 1rem;
}

.app__footer {
    /* flex: 1; */
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    width: 100%;
    align-self: flex-end;
}

.cart--icon {
    stroke: 1px;
    fill: orange;
}

.cart--quantity {
    content: '';
    position: absolute;
    bottom: .85rem;
    right: .85rem;

    height: .75rem;
    width: .75rem;

    border-radius: 50%;
    background-color: gray;
}

.content {
    flex: 1;
    /* position: relative; */
    z-index: 0;
    /* height: 100%; */

    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    
}

.search {
    display: flex;
    justify-self: flex-end;
    flex: 1;
}

.search__form {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search__input {
    margin-right: 1rem;
    width: 100%;
    background-color: inherit;
}

.search__input:focus {
    background-color: white;
}

.breadcrumbs {
    position: sticky;
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    margin: 1rem 0 0 0;
    font-family: var(--text-bold);
}

.breadcrumbs__link {
    text-decoration: none;
    color: black;

}

.breadcrumbs__link:first-of-type {
    margin-right: 1rem;    
}

.breadcrumbs__link:hover {
    color: var(--main-accent);
}

@media screen and (min-width: 30rem) {
    .header {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
