@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;600&display=swap');

@font-face {
    font-family: "Barlow-ExtraLight";
    src: local("Barlow-ExtraLight"),
        url("../fonts/Barlow/Barlow-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Barlow-Light";
    src: local("Barlow-Light"),
        url("../fonts/Barlow/Barlow-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Barlow-Regular";
    src: local("Barlow-Regular"),
        url("../fonts/Barlow/Barlow-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Barlow-SemiBold";
    src: local("DM-Barlow-SemiBold"),
        url("../fonts/Barlow/Barlow-SemiBold.ttf");
    font-weight: 700;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid rgba(255, 0, 0, .5);
}

html {
    font-size: 62.5%;
    background-color: rgb(246, 246, 246);
}

.app {
    /* height: 100%; */
    width: 100vw;
    max-width: 80rem;
    min-width: 30rem;
    margin: 0 auto;
    /* font-family: 'Raleway', Arial, Helvetica, sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Barlow';
    /* border: 1px solid red; */
    /* display: flex; */
    /* min-width: 100%; */
}

.app__header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */

    padding: 1rem;
    background-color: rgb(246, 246, 246);
    
}

.app__header--logo {
    flex: 2;
    padding: 1rem 0;
    font-size: 2rem;
    letter-spacing: .25rem;
    color:rgb(20, 20, 20);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.app__header--link {
    /* padding: 1rem; */
    text-decoration: none;
    /* font-size: 3rem; */
    color: black;
    /* width: 100%; */
    /* align-content: center; */
    /* align-self: center; */
}





.app__header--actions {
    /* flex: 2; */
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    /* padding: 1rem; */
}

.app__header--cart {
    position: relative;
    /* flex: 1; */
    justify-self: flex-end;
    margin-left: 1rem;
}

.cart--icon {
    stroke: 1px;
    fill: orange;
}

.cart--quantity {
    content: '';
    position: absolute;
    bottom: .85rem;
    right: .85rem;

    height: .75rem;
    width: .75rem;

    border-radius: 50%;
    background-color: gray;
}

.content {
    position: relative;
    z-index: 0;

    border: 1px solid green;
}

.search {
    display: flex;
    justify-self: flex-end;
    flex: 1;
}

.search__form {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.search__input {
    margin-right: 1rem;
    width: 100%;
    background-color: inherit;
}

.search__input:focus {
    background-color: white;
}

.tags__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid magenta;
    background-color: white;
}

.tags__label {
    font-size: 1rem;
    font-family: 'Barlow-Regular';
}

.tags__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.tags__link {
    padding: .25rem 1rem;

    color: black;
    text-decoration: none;
    font-weight: bold;
}

.tags__btn:hover {
    cursor: pointer;
    color: gray;
}

.tags__btn:focus {
    color: magenta;
}

.product-page {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    /* grid-template-rows: 1fr; */
    /* height: 100%; */
    padding: 2rem;
}

.product-page__container {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
}

.products-page__product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product__img {

}

.product__details {
    display: flex;
    flex-direction: column;
}

.product__description {
    font-family: 'Barlow-SemiBold';
    font-size: 2rem;
    text-transform: capitalize;
}

.product__price {

}

.product__add-to-cart--btn {
    font-family: 'Barlow-Regular';
    color: black;
    width: 100%;
    font-size: 1.6rem;
    text-transform: capitalize;

}

.product__add-to-cart--btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.size__option {
    padding: .5rem 1rem;

}

.size-options__box {
    display: none;
    flex-direction: column;
}

.size__dropdown {
    box-shadow: 0 0 .2rem black;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.size__dropdown--label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: gray; */
    align-items: center;
}


.size__dropdown--label:hover {
    cursor: pointer;
}

.size__dropdown--icon {
    /* color: orange; */
}

.size__dropdown--option {
    padding: .5rem 1rem;
    font-family: 'Barlow-SemiBold';
    font-size: 1.4rem;
    letter-spacing: .15rem;
}

.size__dropdown--option:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.isOpen {
    display: flex;
}



@media screen and (min-width: 30rem) {
    .app {
        /* margin: 0 auto; */
    }

    .app__header {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }

    .app__header--link {
        justify-self: flex-start;
    }

    .app__header--logo {
        justify-content: flex-start;
        font-size: 2.4rem;
        padding: 0;
    }


}

