@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;600&display=swap');

@font-face {
    font-family: "Barlow-ExtraLight";
    src: local("Barlow-ExtraLight"),
        url("../fonts/Barlow/Barlow-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Barlow-Light";
    src: local("Barlow-Light"),
        url("../fonts/Barlow/Barlow-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Barlow-Regular";
    src: local("Barlow-Regular"),
        url("../fonts/Barlow/Barlow-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Barlow-SemiBold";
    src: local("DM-Barlow-SemiBold"),
        url("../fonts/Barlow/Barlow-SemiBold.ttf");
    font-weight: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.app {
    height: 100%;
    width: 100%;

    /* font-family: 'Raleway', Arial, Helvetica, sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Barlow';
    border: 1px solid red;
    background-color: rgb(247, 247, 247);
}

.app__header--link {
    /* padding: 1rem; */
    text-decoration: none;
    /* font-size: 3rem; */
    /* color: black; */

}

.app__header--logo {
    padding: 1rem;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}