@font-face {
    font-family: "Barlow-ExtraLight";
    src: local("Barlow-ExtraLight"),
        url("../fonts/Barlow/Barlow-ExtraLight.ttf") format('woff2');
    font-weight: 200;
    unicode-range: U+0025-00FF;
}

@font-face {
    font-family: "Barlow-Light";
    src: local("Barlow-Light"),
        url("../fonts/Barlow/Barlow-Light.ttf") format('woff2');
    font-weight: 300;
    unicode-range: U+0025-00FF;
}

@font-face {
    font-family: "Barlow-Regular";
    src: local("Barlow-Regular"),
        url("../fonts/Barlow/Barlow-Regular.ttf") format('woff2');
    font-weight: 400;
    unicode-range: U+0025-00FF;
}

@font-face {
    font-family: "Barlow-SemiBold";
    src: local("DM-Barlow-SemiBold"),
        url("../fonts/Barlow/Barlow-SemiBold.ttf") format('woff2');
    font-weight: 700;
    unicode-range: U+0025-00FF;
}

:root {
    --main-black: rgb(0, 0, 0);
    --main-white: rgb(255, 255, 255);
    --main-accent: rgb(0, 149, 166);
    --main-light-accent: rgba(0, 149, 166, 0.75);
    --main-lighter-accent: rgba(0, 149, 166, 0.25);
    --main-lightgray: rgb(246, 246, 246);
    --main-light-blue: #d9e8ea;

    --text-extralight: 'Barlow-ExtraLight';
    --text-light: 'Barlow-Light';
    --text-regular: 'Barlow-Regular';
    --text-bold: 'Barlow-SemiBold';

    --transition: all ease 300ms;
}

input,
button {
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    line-height: 1.5;
    margin: 0;  
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
    transform: translateY(1px);
}

button:disabled {
    background-color: none;
    cursor:not-allowed;
    opacity: .5;
}

button:disabled:hover {
    background-color: var(--main-lightgray);
}
